
body {
  font-family: 'Poppins', sans-serif;
}
.mySwiper {
  height: 80vh;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.navbarmain {
  background-color: hsla(0, 0%, 100%, 0.05) !important;
  backdrop-filter: blur(12px);
  position: absolute !important;
  z-index: 20;
  left: 276px;
  top: 20px;
  transition: top 0.3s ease;
  border-radius: 28px;
  align-items: flex-end;
  flex-flow: wrap;
  justify-content: center;
  display: flex;
  margin:  0 auto;
}
.btnmain{
  color: #fff;
}
.max90banner{
  max-width: 95% !important;
  margin: 0 auto !important;
 
  
}

.max80banner{
  max-width: 90% !important;
  margin: 0 auto !important;
 
  
}
@media only screen and (max-width:600px)
{.navbarmain {
   position: relative !important;
      top: 0px;
    left: 0px;
}
.nav-link
{
  color: black !important;
}
.custom-toggler {
    border-color: #CEAE6F !important;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23CEAE6F' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .btnmain{
  color:#CEAE6F !important;
  max-width: 60% !important;
}
}

.card {
  background: #fff;
  
   transition: all .2s ease;
  height: 110px !important;
   border-radius: 71px !important;
    border-right: 0 solid #e9e9e9;
     padding: 32px; padding-top: 10px;
        padding-bottom: 10px;


        box-shadow: 0 0 14px rgba(0, 0, 0, .08);
}
.card:hover {

  

    background-color: #f8f9fa;
  
}

.card:hover  .goldenh6{

  color: #CEAE6F;

  
}

/* In your CSS or module file */
.responsive-banner {
  height: 100vh;
  max-height: 1000px;
}

@media (max-width: 768px) {
  .responsive-banner {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .responsive-banner {
    height: 100vh;
      max-height: 300px;
  }
  .swiperslid{
    max-height: 400px !important;
  }
}


.aboutSection {
  background-color: #fff;
  border-radius: 2rem;
  padding: 40px 20px;
  box-shadow: 0 4px 30px #201e1e36;
}

.curvedImage {
  mask: url('../assets/mask.svg'); 
  -webkit-mask: url('../assets/mask.svg');
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 450px 450px;

  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
}
.banner-curve-container {
  height: 100vh;
  clip-path: ellipse(120% 100% at 50% 100%);
  position: relative;
  overflow: hidden;
}

.goldText {
  color: #ceae6f;
}


 .mask-image {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDU2JyBoZWlnaHQ9JzQ1Nicgdmlld0JveD0nMCAwIDQ1NiA0NTYnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00zNzIgMTZDMzcyIDcuMTYzNDQgMzY0LjgzNyAwIDM1NiAwSDEwMEM5MS4xNjM0IDAgODQgNy4xNjM0NSA4NCAxNlYxMTdDODQgMTI1LjgzNyA3Ni44MzY2IDEzMyA2OCAxMzNIMTZDNy4xNjM0NCAxMzMgMCAxNDAuMTYzIDAgMTQ5VjQzMkMwIDQ0NS4yNTUgMTAuNzQ1MiA0NTYgMjQgNDU2SDI4NkMyOTQuODM3IDQ1NiAzMDIgNDQ4LjgzNyAzMDIgNDQwVjQxM0MzMDIgNDA0LjE2MyAzMDkuMTYzIDM5NyAzMTggMzk3SDQ0MEM0NDguODM3IDM5NyA0NTYgMzg5LjgzNyA0NTYgMzgxVjk2QzQ1NiA4Ny4xNjM0IDQ0OC44MzcgODAgNDQwIDgwSDM4OEMzNzkuMTYzIDgwIDM3MiA3Mi44MzY2IDM3MiA2NFYxNlonIGZpbGw9JyNEOUQ5RDknLz48L3N2Zz4K);
    mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDU2JyBoZWlnaHQ9JzQ1Nicgdmlld0JveD0nMCAwIDQ1NiA0NTYnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00zNzIgMTZDMzcyIDcuMTYzNDQgMzY0LjgzNyAwIDM1NiAwSDEwMEM5MS4xNjM0IDAgODQgNy4xNjM0NSA4NCAxNlYxMTdDODQgMTI1LjgzNyA3Ni44MzY2IDEzMyA2OCAxMzNIMTZDNy4xNjM0NCAxMzMgMCAxNDAuMTYzIDAgMTQ5VjQzMkMwIDQ0NS4yNTUgMTAuNzQ1MiA0NTYgMjQgNDU2SDI4NkMyOTQuODM3IDQ1NiAzMDIgNDQ4LjgzNyAzMDIgNDQwVjQxM0MzMDIgNDA0LjE2MyAzMDkuMTYzIDM5NyAzMTggMzk3SDQ0MEM0NDguODM3IDM5NyA0NTYgMzg5LjgzNyA0NTYgMzgxVjk2QzQ1NiA4Ny4xNjM0IDQ0OC44MzcgODAgNDQwIDgwSDM4OEMzNzkuMTYzIDgwIDM3MiA3Mi44MzY2IDM3MiA2NFYxNlonIGZpbGw9JyNEOUQ5RDknLz48L3N2Zz4K);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    transition: all .3s ease;
    max-height: 465x;
    display: block;
    margin: auto;
}

@media only screen and (max-width:600px)
{
  .mask-image
  {
     max-height: 260px;
     width: 100% !important;
     margin-bottom: 20px !important ;
    
  }
  .aboutSection{
    max-width: 90% !important;
    margin: 0 auto;
  }
  
}


.golden-hover {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #000; /* default dark background */
  transition: color 0.4s ease;
  z-index: 1;
}

.golden-hover::before {
    content: "";
    z-index: 0;
    background-color: #ceae6f;
    width: 407%;
    height: 217%;
    transition: all .9s;
    position: absolute;
    top: 100%;
    left: -214%;
    transform: rotate(45deg);

}

.golden-hover:hover::before {
  top: -100%;
  left: 0%;
}

.golden-hover span {
  position: relative;
  z-index: 2;
}

.golden-hover:hover {
  color: rgb(255, 255, 255) !important;
}


.flipCard {
  background-color: transparent;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateX(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flipCardFront {
  background-color: #f9f9f9;
}

.flipCardBack {
  background-color: #111;
  color: white;
  transform: rotateX(180deg);
}






.testimonialCard {
    border-radius: 12px !important;
    min-height: 250px;
    transition: transform .3s ease;
}.swiper-pagination {
  display: none !important;
}


.puzzle {
background-color: #101010;
 /* border-radius: 2rem; */
  padding: 40px 20px;
  margin-top: 50px !important;
  padding-bottom: 0px !important;

}
