.f18{
    font-size: 18px !important;
}
  .borderbottom{
        border-bottom: 1px  solid rgba(151, 186, 216, 1); ;
    }
     .max90{
        max-width: 90% !important;
        margin: 0 auto;
    }

.hero-section {
  background-color: #ffffff;
}

.hero-text {
  font-size: 4vw;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #0058a3; /* match the blue in your screenshot */
  font-weight: 300;
}
.textsectionhome{

    color: #005DA4;
    font-size: 30px !important;
    font-weight: 400;
    
}

@media only screen and (max-width:600px)
{
    .hero-text {
  font-size: 19px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #0058a3; /* match the blue in your screenshot */
  font-weight: 500;
}
.textsectionhome {
    color: #005da4;
    font-weight: 400;
    font-size: 17px !important;
}
}

.text-brown {
  color: #005DA4; /* Example: dark brown */
}
.backgoundicon{
      background-color: #005DA4 !important;
}
.cofheading{
      color: #005DA4; 
}
/* You can place this in styles/globals.css or a module file */
.zoom-hover {
  transition: transform 0.4s ease;
}

.zoom-hover:hover {
  transform: scale(1.05);
}

/* components/TestimonialsSwiper.module.css */
.testimonialCard {
  border-radius: 12px;
  min-height: 250px;
  transition: transform 0.3s ease;
}

.testimonialCard:hover {
  transform: translateY(-5px);
}
.footermain{
    position: relative;
}

/* .scrollUpIcon {
  position: absolute;
  right: 20px;
  bottom: 10px;
} */

.scrollUpIcon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.colorwhite{
    color: #ffffff !important;
}
.max95{
    max-width: 95% !important;
    width: 100% !important;
    margin:  0 auto;
}

.f24{
    font-size: 24px !important;
}
 .footerquiclink{
  display: flex !important;
    gap: 2px !important;
}

  
.textwhite{
    color: #ffffff !important;
}
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/newone1.png);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0;
    transition: 0.5s;
    margin-top: 20px !important;
}
.breadcrumb-item + .breadcrumb-item:before {

    color: white !important;
}
.max70{
    max-width: 90% !important;
    width: 100% !important;
}
.aboutbtn{
   width:300px !important;
    padding: 13px 66px 17px 61px;
    border-radius: 42px;
    color:#005DA4;
    border:1px solid #005DA4;
    background-color: white;
    font-size: 20px !important;
}
.aboutbtn:hover{
    background-color: #005DA4;
    color:white;
}
.contactbtn{
  background-color: #005DA4;
    color:white;
    border:1px solid #005DA4;
    font-size: 20px !important;
    width: 100% ;
    padding: 13px 66px 17px 61px;

}

